@model HumanResource.Context.DETAIL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DETAIL</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Employee_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone_number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone_number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Supervisor_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Supervisor_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Employee_status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Employee_status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
